<header>
    <nav class="container">
        <a href="/index.html"><img src="/nextgen banner logo.png" alt="NextGen AI Technology Logo" class="logo"></a>
        <ul>
            <li><a href="/index.html" {% if page.url == "/index.html" %}class="active"{% endif %}>Home</a></li>
            <li><a href="/portfolio.html" {% if page.url contains '/portfolio' or page.url contains '-ai' or page.url contains 'assist' or page.url contains 'link' or page.url contains 'timeline' or page.url contains 'studio' or page.url contains 'genius' or page.url contains 'agents' or page.url contains 'inspector' %}class="active"{% endif %}>Technology & Portfolio</a></li>
            <li><a href="/about.html" {% if page.url == "/about.html" %}class="active"{% endif %}>About Us</a></li>
            <li><a href="/investors.html" {% if page.url == "/investors.html" %}class="active"{% endif %}>Investors</a></li>
            <li><a href="/news.html" {% if page.url == "/news.html" %}class="active"{% endif %}>News</a></li>
            <li><a href="/contact.html" {% if page.url == "/contact.html" %}class="active"{% endif %}>Contact</a></li>
        </ul>
    </nav>
</header>